<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSUIElement</key>
	<string>1</string>
	<key>CFBundleDisplayName</key>
	<string>Nonolith Connect</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>nonolith-connect</string>
	<key>CFBundleIdentifier</key>
	<string>org.nonolith.connect</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>1.2</string>
	<key>CFBundleName</key>
	<string>Nonolith-Connect</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.5</string>
	<key>CFBundleIconFile</key>
	<string>nonolith.icns</string>
	<key>LSMultipleInstancesProhibited</key>
	<true/>
</dict>
</plist>
