Source: nonolith-connect
Section: electronics
Priority: extra
Maintainer: Nonolith Labs <team@nonolithlabs.com>
Build-Depends: debhelper (>= 7.0.50~), scons, libusb-1.0-0-dev, libudev-dev, libboost-all-dev, libasio-dev
Standards-Version: 3.8.4
Homepage: http://nonolithlabs.com/

Package: nonolith-connect
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, adduser, curl
Description: USB to web bridge daemon for Nonolith CEE
